<div class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" [routerLink]="[ '/adminhome/import-data' ]" routerLinkActive="active">Import Data</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="[ '/adminhome/manage-company' ]" routerLinkActive="active">Manage
                    company </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="[ '/adminhome/manage-exchange' ]" routerLinkActive="active">Manage
                    Exchange</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="[ '/adminhome/update-ipodetails' ]" routerLinkActive="active">Update
                    IPO details</a>
            </li>
        </ul>
    </div>
</div>
<router-outlet></router-outlet>