<form>
    <div class="form-group">
        <label for="exampleInputEmail1">User name</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Remeber me</label>
    </div>
    <button type="submit" class="btn btn-primary" [routerLink]="[ '/userhome' ]">Sign in</button>
    <br>
    <label for="exampleInputEmail1">New to Stock Market? <a [routerLink]="[ '/signup' ]">Create an
            accout</a></label>
</form>