<ngb-tabset [destroyOnHide]="false">
    <ngb-tab title="Standard chart">
        <ng-template ngbTabContent>
        <form #myForm="ngForm">
                <!-- Select Company/Sector -->
                <div class="form-group col-md-4">
                    <label for="catagory">Catagory:</label>
                     <select class="form-control" id="selectComOrSetor" ngModel name="catagory" >
                        <option value="company">Company</option>
                        <option value="sector">Sector</option>
                     </select>
                </div>
                 <!-- Company Name -->
                <div class="form-group col-md-4">
                     <label for="name">Name:</label>
                    <div class="form-group">
                        <div class="input-group">
                        <input type="text" class="form-control" name="name" ngModel placeholder="Name">
                        </div>
                    </div>
                </div>
                <!-- Select Stock Exchange -->
                <div class="form-group col-md-4">
                    <label for="SE">Select Stock Exchange:</label>
                    <select class="form-control" id="selectSE" ngModel name="SE">
                        <option value="BSE">BSE</option>
                        <option value="NSE">NSE</option>
                    </select>
                </div>

                <div class="form-group row" style="margin-left: 1%;">
                    <!-- From period1 -->
                    <label for="startTime1">From period:</label>
                    <div class="col-md-2">
                        <input type="text" value="2020-05-01 18:11:22" id="datetimepicker" ngModel name="startTime1"  data-date-format="yyyy-MM-dd hh:mm:ss"
                            placeholder="yyyy-MM-dd hh:mm:ss">
                        <div class="form-group">
                            <!-- <div class="input-group"> -->
                                <!-- <input type="datetime-local" class="form-control" ngModel #startTime1="ngModel" name="startTime1" id="startTime1"
                                    placeholder="YYYY-mm-dd hh:mm:ss">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar">
                                    </span>
                                </span> -->
                            <!-- </div> -->
                        </div>
                    </div>

                    <!-- To period1 -->
                    <label for="endTime1">To period:</label>
                    <div class="col-md-2">
                        <input type="text" value="2020-05-01 18:11:22" id="datetimepicker"  ngModel name="endTime1" data-date-format="yyyy-MM-dd hh:mm:ss"
                            placeholder="yyyy-MM-dd hh:mm:ss">
                        <!-- <div class="form-group">
                            <div class="input-group">
                                <input type="datetime-local" class="form-control" ngModel #endTime1="ngModel" name="endTime1" id="endTime1"
                                    placeholder="YYYY-mm-dd hh:mm:ss">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar">
                                    </span>
                                </span>
                            </div>
                        </div> -->
                    </div>

                    <!-- From period2 -->
                    <label for="startTime2">From period:</label>
                    <div class="col-md-2">
                        <input type="text" value="2020-05-01 18:11:22" id="datetimepicker" ngModel name="startTime2" data-date-format="yyyy-MM-dd hh:mm:ss"
                            placeholder="yyyy-MM-dd hh:mm:ss">
                        <!-- <div class="form-group">
                            <div class="input-group">
                                <input type="datetime-local" class="form-control" ngModel #startTime2="ngModel" name="startTime2" id="startTime2"
                                    placeholder="YYYY-mm-dd hh:mm:ss">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar">
                                    </span>
                                </span>
                            </div>
                        </div> -->
                    </div>

                    <!-- To period2 -->
                    <label for="endTime2">To period:</label>
                    <div class="col-md-2">
                        <input type="text" value="2020-05-01 18:11:22" id="datetimepicker"  ngModel name="endTime2" data-date-format="yyyy-MM-dd hh:mm:ss"
                            placeholder="yyyy-MM-dd hh:mm:ss">
                        <!-- <div class="form-group">
                            <div class="input-group">
                                <input type="datetime-local" class="form-control" ngModel #startTime2="ngModel" name="endTime2" id="endTime2"
                                    placeholder="YYYY-mm-dd hh:mm:ss">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar">
                                    </span>
                                </span>
                            </div>
                        </div> -->
                    </div>
                </div>
         </form>
            {{ myForm.value | json }}
        </ng-template>
    </ngb-tab>

    <!-- Custom chart -->
    <ngb-tab>
        <ng-template ngbTabTitle>Custom chart</ng-template>
        <ng-template ngbTabContent>
                <!-- Select Company/Sector -->
                <div class="form-group col-md-4">
                    <label for="selectComOrSetor">Catagory:</label>
                    <select class="form-control" id="selectComOrSetor">
                        <option value="company">Company</option>
                        <option value="sector">Sector</option>
                    </select>
                </div>
                <!-- Company Name -->
                <div class="form-group col-md-4">
                    <label for="name">Name:</label>
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" name="" placeholder="Name">
                        </div>
                    </div>
                </div>
                <!-- Select Stock Exchange -->
                <div class="form-group col-md-4">
                    <label for="selectSE">Select Stock Exchange:</label>
                    <select class="form-control" id="selectSE">
                        <option value="bse">BSE</option>
                        <option value="nse">NSE</option>
                    </select>
                </div>
        </ng-template>
    </ngb-tab>

</ngb-tabset>