<h4>IPO details</h4>
<button class="btn  btn-info" (click)="open(addIpo)">Add </button>
<ng-template #addIpo let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Add IPO</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <span><label for="comName">Company Name</label>
                <input type="text" class="form-control" id="comName" name="CompanyName"></span>
        </div>
        <div class="form-group">
            <span><label for="stockExchange">Stock Exchange</label>
                <input type="text" class="form-control" id="stockExchange" name="stockExchange"></span>
        </div>
        <div class="form-group">
            <span><label for="pricepershare">Price Per Share</label>
                <input type="text" class="form-control" id="pricepershare" name="pricepershare"></span>
        </div>
        <div class="form-group">
            <span><label for="totalshares">Total Number of Shares</label>
                <input type="text" class="form-control" id="totalshares" name="totalshares"></span>
        </div>
        <div class="form-group">
            <span><label for="remark">Remark</label>
                <input type="text" class="form-control" id="remark" name="remark"></span>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="c('Cross click')">Cancel</button>
        <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Save</button>
    </div>
</ng-template>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">IPO ID</th>
            <th scope="col">Company Name</th>
            <th scope="col">Stock Exchange</th>
            <th scope="col">Price Per Share</th>
            <th scope="col">Total Number of Shares</th>
            <th scope="col">Open Date Time</th>
            <th scope="col">Remark</th>
            <!-- <th scope="col">Action</th> -->
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let ipo of IPOList">
            <th scope="row">{{ ipo.id }}</th>
            <td>

                {{ ipo.company_name }}
            </td>
            <td>{{ ipo.stock_exchange}}</td>
            <td>{{ ipo.price_per_share}}</td>
            <td>{{ ipo.total_num }}</td>
            <td>{{ ipo.open_date_time }}</td>
            <td>{{ ipo.remark }}</td>
            <!-- <td><button class="btn btn-info" (click)="open(editIpo,ipo)">Edit</button></td> -->
        </tr>
    </tbody>
</table>

<div class="d-flex justify-content-between p-2">
    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
    </ngb-pagination>

    <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
        <option [ngValue]="2">2 items per page</option>
        <option [ngValue]="4">4 items per page</option>
        <option [ngValue]="6">6 items per page</option>
    </select>
</div>
<!-- edit ipo modal -->
<!-- <ng-template #editIpo let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Update an IPO</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <span><label for="IPOID">IPO ID</label>
                <input type="text" class="form-control" id="IPOID" name="IPOID" [(ngModel)]="currentIPO.id"
                    #IPOID="ngModel" readonly></span>
        </div>
        <div class="form-group">
            <span><label for="CompanyName">Stock Exchange</label>
                <input type="text" class="form-control" id="CompanyName" name="CompanyName"
                    [(ngModel)]="currentIPO.company_name" #CompanyName="ngModel" readonly></span>
        </div>
        <div class="form-group">
            <span><label for="stockExchange">Stock Exchange</label>
                <input type="text" class="form-control" id="stockExchange" name="stockExchange"
                    [(ngModel)]="currentIPO.stock_exchange" #stockExchange="ngModel"></span>
        </div>
        <div class="form-group">
            <span><label for="pricepershare">Price Per Share</label>
                <input type="text" class="form-control" id="pricepershare" name="pricepershare"
                    [(ngModel)]="currentIPO.price_per_share" #pricepershare="ngModel"></span>
        </div>
        <div class="form-group">
            <span><label for="totalshares">Total Number of Shares</label>
                <input type="text" class="form-control" id="totalshares" name="totalshares"
                    [(ngModel)]="currentIPO.total_num" #totalshares="ngModel"></span>
        </div>
        <div class="form-group">
            <span><label for="opendatetime">Open Date Time</label>
                <input type="text" class="form-control" id="opendatetime" name="opendatetime"
                    [(ngModel)]="currentIPO.open_date_time" #opendatetime="ngModel"
                    placeholder="YYYY-mm-dd hh:mm:ss"></span>
        </div>
        <div class="form-group">
            <span><label for="remark">Remark</label>
                <input type="text" class="form-control" id="remark" name="remark" [(ngModel)]="currentIPO.remark"
                    #remark="ngModel"></span>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Save</button>
    </div>
</ng-template> -->