<form #myForm="ngForm" novalidate (ngSubmit)="changePwd(myForm.value, myForm.form.valid)">
    <label>Change password</label>
    <div class="form-group col-md-4">
        <label for="oldPwd">Old Password</label>
        <input type="password" ngModel name="oldpassword" #oldPwd="ngModel" required minlength="6" class="form-control"
            id="oldPwd">
    </div>
    <!-- 提示信息 -->
    <div *ngIf="oldPwd.invalid && (oldPwd.dirty || oldPwd.touched)" class="alert alert-danger col-md-4">
        <div *ngIf="oldPwd.errors.required">
            Password is required.
        </div>
        <div *ngIf="oldPwd.errors.minlength">
            Password must be at least 6 characters long.
        </div>
    </div>

    <div class="form-group col-md-4" ngModelGroup="passwordsgroup" #passwordsGroup="ngModelGroup" equal>
        <label for="inputPassword">New Password</label>
        <input type="password" ngModel name="password" #password="ngModel" required minlength="6" class="form-control"
            id="inputPassword">
        <label for="confirmPassword">Comfirm New Password</label>
        <input type="password" ngModel name="pwconfirm" #pwconfirm="ngModel" required minlength="6" class="form-control"
            id="confirmPassword">
    </div>
    <!-- Password提示信息 -->
    <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger col-md-4">
        <div *ngIf="password.errors.required">
            New Password is required.
        </div>
        <div *ngIf="password.errors.minlength">
            Password must be at least 6 characters long.
        </div>
    </div>
    <!-- 指令验证 password and pwconfirm -->
    <!-- TODO:解决在输入完conform password后 才会触发这个error message -->
    <div *ngIf="passwordsGroup.invalid && (passwordsGroup.dirty || passwordsGroup.touched)"
        class="alert alert-danger col-md-4">
        <div *ngIf="passwordsGroup.errors.equal">
            New Passwords are inconsistent.
        </div>
    </div>

    <button type="submit" class="btn btn-success" [disabled]="!myForm.form.valid">Submit</button>
</form>

{{ myForm.value | json }}
{{ myForm.valid}}