<nav class="navbar navbar-dark bg-dark ">
    <a class="navbar-brand" href="#">Stock Market</a>
    <button *ngIf="!isSignin" class="btn btn-outline-info my-2 my-sm-0" type="submit" [routerLink]="['/login']">Sign
        in</button>

    <div class="row" *ngIf="isSignin">
        <div class="col">
            <div ngbDropdown class="d-inline-block">
                <button class="btn btn-outline-info" id="dropdownBasic1" ngbDropdownToggle>{{userName}}</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button ngbDropdownItem [routerLink]="['/changepassword']">Change Password</button>
                    <!-- <button ngbDropdownItem [routerLink]="['/logout']">Log out</button> -->
                    <button ngbDropdownItem (click)="OnLogout()">Log out</button>
                </div>
            </div>
        </div>
    </div>
</nav>